{% extends 'polls/base.html'%}
{% load static %}
{%block content %}
    <div class="pagetitle">
      <h1>{{profile.user.username}}'s Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'Index'%}">Home</a></li>
          <li class="breadcrumb-item active">Profile list</li>
          <li class="breadcrumb-item active">{{profile.user.username}}'s Profile</li>
        </ol>
      </nav>
    </div>
    {% if messages%}
 {% for i in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
             <i class="bi bi-check-circle"></i>
             {{i}}
             <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
           </div>
 {% endfor %}
{% endif %}
     <div class="card">
            <div class="card-body">
              <div>
              <h5 class="card-title">{{profile.user.username}}
                  <form method=POST style="float:right">
                    {%csrf_token%}
                    {%if profile in user.profile.follows.all%}
                      <button class="btn btn-outline-danger" name='follow'
                      value='unfollow' type='submit'>unfollow {{profile.user.username}}</button>
                    {% else %}
                      <button class="btn btn-outline-primary" name='follow'
                      value='follow' type='submit'>follow {{profile.user.username}}</button>
                    {% endif %}
                  </form>
              </h5>

            </div>
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home" aria-selected="true">Vlog</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#bordered-profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Information</button>
                </li>
              </ul>
              <div class="tab-content pt-2" id="borderedTabContent">
                <div class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
               <!-- Left side columns -->
                      <div class="col-lg-8">
                        <div class="row">
                        <div class="card info-card customers-card">           
                          <div class="card-body">
                            <h5 class="card-title">{{Vlog.user.username}}<span> | {{Vlog.created_at}}</span></h5>
                            <div class="d-flex align-items-center">
                                {{Vlog.content|safe}}
                            </div>
                            <p style="float:right;margin-bottom: 0;">{{Vlog.number_of_likes}} Likes</p>
                          </div>
                          <div class="card-footer">
                            <div class="container">
                              <div id="row align-items-start">
                                <div class="col-4" style="display: inline-block;">
                                  <a href="{%url 'like' Vlog.id%}" >
                                    {%if user in Vlog.likes.all%}
                                    <i class="bi bi-hand-thumbs-up-fill"></i> Unlike 
                                    {%else%}
                                    <i class="bi bi-hand-thumbs-up" ></i> Like
                                    {% endif %}
                                  </a>
                                </div>
                                <div class="col-3" style="display: inline-block">
                                  <a href="" style="margin-left: 2rem;"><i class="bi bi-chat"></i>Comment</a></div>
                                <div class="col-4" style="display: inline-block">
                                  <a href="{%url 'share' Vlog.id%}" style="margin-left:8rem;" ><i class="ri ri-share-forward-fill"></i> Share</a>
                                </div>
                            </div>
                          </div>
                          </div>
                          {%if Vlog.commented.all%}
                          <div class="card-footer">
                            {% for j in Vlog.commented.all%}
                              <div class="row align-items-start">
                                <div class="col-1" style="display: inline-block;">
                                  {%if j.user.profile.profileinfor.profile_image %}
                                      <img src="{{j.user.profile.profileinfor.profile_image.url}}" class="rounded-circle" alt="Profile" style='width:70%'>
                                    {%else%}
                                    <img src="{% static 'assets/img/profile-img.jpg' %}" class="rounded-circle" alt="Profile" style="width:100%">
                                    {%endif%}
                                </div>
                                <div class="col-8" style="display: inline-block;">
                                  <h5 class="card-title" style="padding: 0;">{{j.user.username}}<span> | {{j.created_at}}</span></h5>
                                  <p>{{j.content}}</p>
                              </div>
                              </div>
                            {% endfor %}
                          </div>
                          {% endif %}
                            <div class="card-body">
                            <h5 class="card-title" style="padding-top: 0;">Edit your vlog!</h5>
                            <form method="POST">
                            {%csrf_token%}
                            {{form.media}}
                            {{form.as_p}}
                            <button class="btn btn-outline-primary" type="submit" style="float:right">UPDATE VLOG!</button>
                        </form>
                        </div>
                        </div>
            {%if vlogs.all %}
                {%for i in vlogs%}
                    <div class="card info-card customers-card">           
                          <div class="card-body">
                            <h5 class="card-title">{{i.user.username}}<span> | {{i.created_at}}</span>
                              {%if profile.user == request.user%}
                              <a href="{%url 'update' i.id%}" class="btn btn-outline-primary" style="border: 0;"><i class="bi bi-pencil-square"></i>EDIT</a>
                              <a href="{%url 'delete' i.id%}" class="btn btn-outline-danger" style="border: 0;"><i class="bi bi-trash-fill"></i> DELETE</a>
                              {%endif%}
                            </h5>
                            <div class="d-flex align-items-center">
                                {{i.content|safe}}
                            </div>
                            <p style="float:right;margin-bottom: 0;">{{i.number_of_likes}} Likes</p>
                          </div>
                          <div class="card-footer">
                            <div class="container">
                              <div id="row align-items-start">
                                <div class="col-4" style="display: inline-block;">
                                  <a href="{%url 'like' i.id%}" >
                                    {%if user in i.likes.all%}
                                    <i class="bi bi-hand-thumbs-up-fill"></i> Unlike 
                                    {%else%}
                                    <i class="bi bi-hand-thumbs-up" ></i> Like
                                    {% endif %}
                                  </a>
                                </div>
                                <div class="col-3" style="display: inline-block">
                                  <a href="" style="margin-left: 2rem;"><i class="bi bi-chat"></i>   Comment</a></div>
                                <div class="col-4" style="display: inline-block">
                                  <a href="{%url 'share' i.id%}" style="margin-left:8rem;" ><i class="ri ri-share-forward-fill"></i> Share</a>
                                </div>
                            </div>
                          </div>
                          </div>
                          {%if i.commented.all%}
                          <div class="card-footer">
                            {% for j in i.commented.all%}
                              <div class="row align-items-start">
                                <div class="col-1" style="display: inline-block;">
                                  {%if j.user.profile.profileinfor.profile_image %}
                                      <img src="{{j.user.profile.profileinfor.profile_image.url}}" class="rounded-circle" alt="Profile" style='width:70%'>
                                    {%else%}
                                    <img src="{% static 'assets/img/profile-img.jpg' %}" class="rounded-circle" alt="Profile" style="width:100%">
                                    {%endif%}
                                </div>
                                <div class="col-8" style="display: inline-block;">
                                  <h5 class="card-title" style="padding: 0;">{{j.user.username}}<span> | {{j.created_at}}</span></h5>
                                  <p>{{j.content}}</p>
                              </div>
                              </div>
                            {% endfor %}
                          </div>
                          {% endif %}
                        </div>
                {%endfor%}
            {% else %}
            <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
                <h5>You haven't post anything!</h5>
                <img src="{%static 'assets/img/not-found.svg' %}" class="img-fluid py-5" alt="Page Not Found">
            </section>
            {% endif %}
                        </div>
                      </div><!-- End Left side columns -->
              
                      <!-- Right side columns -->
                      <div class="col-lg-4">
                          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            {%if profile.profileinfor.profile_image %}
                              <img src="{{profile.profileinfor.profile_image.url}}" class="rounded-circle" alt="Profile" style='width:100px'>
                            {%else%}
                              <img src="{% static 'assets/img/profile-img.jpg' %}" class="rounded-circle" alt="Profile">
                            {%endif%}
                            <h2>{{profile.user.username}}</h2>
                            <h3>{{profile.profileinfor.Job}}</h3>
                            <div class="social-links mt-2">
                              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>
                          </div>
                          <h4 style="text-align: center;">About me</h4>
                          <p align="justify">{{profile.profileinfor.About}}</p>
                          <div class="card-body">
                            <h5 class="card-title"><strong>Follow</strong></h5>
              
                            <!-- List group with custom content -->
                            <ol class="list-group list-group-numbered">
                            {%if profile.follows.all %}
                              
                              {%for i in profile.follows.all %}
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div class="fw-bold"><a href="{%url 'Profile' i.user.id %}">@{{i}}</a><br/> </div>
                                  Cras justo odio
                                </div>
                                <span class="badge bg-primary rounded-pill">14</span>
                              </li>
                              {%endfor%}
                              {% else %}
                              <h5>None</h5>
                              {% endif %}
                            </ol><!-- End with custom content -->
                        </div>
                            <div class="card-body">
                              <h5 class="card-title"><strong>Followed by</strong></h5>
                
                              <!-- List group with custom content -->
                              <ol class="list-group list-group-numbered">
                               {%if profile.followed_by.all %}
                                {%for i in profile.followed_by.all %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div class="fw-bold"><a href="{%url 'Profile' i.user.id %}">@{{i}}</a><br/> </div>
                                    Cras justo odio
                                  </div>
                                  <span class="badge bg-primary rounded-pill">14</span>
                                </li>
                                {%endfor%}
                                {% else %}
                              <h5>None</h5>
                              {% endif %}
                              </ol><!-- End with custom content -->
                            </div>
                          </div>
                    </div>



                </div>
                <div class="tab-pane fade" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                 <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              {%if profile.profileinfor.profile_image %}
                <img src="{{profile.profileinfor.profile_image.url}}" class="rounded-circle" alt="Profile" style='width:100%'>
              {%else%}
                <img src="{% static 'assets/img/card.jpg' %}" class="rounded-circle" alt="Profile">
              {%endif%}
              <h2>{{profile.user.username}}</h2>
              <h3>{{profile.profileinfor.Job}}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{profile.profileinfor.About}}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.full_name}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Company}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Job}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Country}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Address}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{profile.profileinfor.Email}}</div>
                  </div>

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>
                </div>
              </div><!-- End Bordered Tabs -->
            </div>
          </div>
{% endblock %}
